<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Miriam+Libre:700,400&subset=hebrew"></link>
    <link rel="stylesheet" type="text/css" href="https://next.obudget.org/_fonts/stylesheet.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"></link>
<style type="text/css">
body{
  direction: rtl;
}
div {
    color: #FF5A5F;	
    padding: 5px;
    margin: 0;
    display: inline-flex;
}
svg {
    height: 20px;
    width: 20px;
    fill: #FF5A5F;
}
</style>
</head>
<body>
    <div class='main'>        
        <svg viewBox="0 0 8 8" class="icon">
            <path d="M4 0c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm-0.2 1.66v1.66h2v1.66h-2v1l-2-2 2-2z" id="arrow-circle-left">
            </path>        
        </svg>
    </div>
</body>