<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Miriam+Libre:700,400&subset=hebrew"></link>
    <link rel="stylesheet" type="text/css" href="https://next.obudget.org/_fonts/stylesheet.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"></link>
<style type="text/css">
body{
  direction: rtl;
}
div {
    height: auto;
    width: 770px;
    display: inline-block;
}
</style>
</head>
<body>
    <div class='main'>
        <span class="oi oi-pencil"></span>
    </div>
</body>