<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Miriam+Libre:700,400&subset=hebrew"></link>
    <link rel="stylesheet" type="text/css" href="https://next.obudget.org/_fonts/stylesheet.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"></link>
<style type="text/css">
body{
  direction: rtl;
}
div {
    height: 30px;
    display: inline-flex;
    align-items: center;
    background-color: #FF5A5F;
    color: #FFFFFF;	font-family: "Abraham TRIAL";	font-size: 16px;	letter-spacing: 0.34px; font-weight: 100;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0 5px;
    margin: 0;
}
</style>
</head>
<body>
    <div class='main'>        
        <svg width="14px" height="13px" viewBox="0 0 14 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: sketchtool 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
            <title>CA27763A-025A-407C-B2A4-4E680443778D</title>
            <desc>Created with sketchtool.</desc>
            <defs>
                <path d="M5.6290735,13.4631108 C4.69003045,13.9567949 3.59251694,13.1594047 3.7718582,12.1137649 L4.22466487,9.47369942 L2.30654504,7.60399468 C1.54684325,6.86346846 1.96605611,5.57326395 3.01593815,5.42070716 L5.66671457,5.0355268 L6.85217782,2.63351589 C7.32169935,1.68216137 8.67830065,1.68216137 9.14782218,2.63351589 L10.3332854,5.0355268 L12.9840618,5.42070716 C14.0339439,5.57326395 14.4531567,6.86346846 13.693455,7.60399468 L11.7753351,9.47369942 L12.2281418,12.1137649 C12.4074831,13.1594047 11.3099696,13.9567949 10.3709265,13.4631108 L8,12.216641 L5.6290735,13.4631108 Z" id="path-1"></path>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Notifications-email" transform="translate(-889.000000, -1773.000000)">
                    <g id="Group-4-Copy-2" transform="translate(375.000000, 1377.000000)">
                        <g id="Group-Copy-3" transform="translate(508.000000, 391.000000)">
                            <g id="ui/icon/star-active-copy" transform="translate(5.000000, 4.000000)">
                                <rect id="Background" x="0" y="0" width="16" height="16"></rect>
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <use id="Path" fill="#FF5A5F" fill-rule="nonzero" xlink:href="#path-1"></use>
                                <g id="background" mask="url(#mask-2)">
                                    <rect id="Background" x="0" y="0" width="16" height="16"></rect>
                                    <rect id="colors/lead" fill="#FFFFFF" x="0" y="0" width="16" height="16"></rect>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
</svg>
    </div>
</body>