<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Miriam+Libre:700,400&subset=hebrew"></link>
    <link rel="stylesheet" type="text/css" href="https://next.obudget.org/_fonts/stylesheet.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"></link>
<style type="text/css">
body{
  background-color: #F5F6F6;
  direction: rtl;
  max-width: 480px;
}
.unsubscribe {
  	font-family: "Abraham TRIAL";	font-size: 12px;	line-height: 10px; 	color: #A0A0A0;  margin: 0; 
}

</style>
</head>
<body>
    <div class='main'>
        <center>
            <div class='unsubscribe'>
                <p>הסרה וניהול ההרשמה מעדכוני הדוא״ל</p>
                <p>Unsubscribe or manage subscription of all email updates</a>
            </div>
        </center>
    </div>
</body>